body {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("../assets/img/AdobeStock_448496796.jpeg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
}
html,
body {
  height: 100%;
  background-color: black;
}
